@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("../bower_components/normalize-css/normalize.css");
.float-right {
  position: relative;
  float: right; }

.float-left {
  position: relative;
  float: left; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.ba-a-primary a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #424242; }
  .ba-a-primary a:hover {
    color: #208AEC;
    font-weight: 700; }

.ba-a-primary a.active {
  color: #424242;
  font-weight: 700; }

.ba-a-secondary a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #208AEC; }
  .ba-a-secondary a:hover {
    color: #208AEC;
    font-weight: 700; }

.ba-a-secondary a:visited {
  color: #5C6BC0; }
  .ba-a-secondary a:visited:hover {
    color: #5C6BC0;
    font-weight: 700; }

.ba-container-fluid,
.ba-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px; }

@media (min-width: 1200px) {
  .ba-container {
    width: 1170px; } }

@media (min-width: 992px) {
  .ba-container {
    width: 970px; } }

@media (min-width: 768px) {
  .ba-container {
    width: 750px; } }

.ba-body-nav {
  list-style: none;
  border-left: 7px solid #208AEC;
  padding: 0px 24px; }
  .ba-body-nav li {
    height: 30px;
    line-height: 30px;
    font-size: 14px; }

.ba-body-search {
  display: table-caption; }
  .ba-body-search input {
    width: 300px;
    padding: 7px 0px;
    border: none;
    border-bottom: 2px solid #208AEC;
    outline: none; }
  .ba-body-search button {
    background-color: #208AEC;
    padding: 5px 15px;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px; }

h1,
h2 {
  font-weight: 400; }

h3,
h4,
h5,
h6 {
  font-weight: 700; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

p {
  font-size: 20px; }

ul {
  list-style: none;
  padding: 0px; }

.ba-sidenav {
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  z-index: 999;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: visibility 0.1s linear 0.5s;
  -moz-transition: visibility 0.1s linear 0.5s;
  -ms-transition: visibility 0.1s linear 0.5s;
  -o-transition: visibility 0.1s linear 0.5s;
  transition: visibility 0.1s linear 0.5s; }
  .ba-sidenav.ba-sidenav-open {
    visibility: visible;
    -webkit-transition: visibility 0s linear 0s;
    -moz-transition: visibility 0s linear 0s;
    -ms-transition: visibility 0s linear 0s;
    -o-transition: visibility 0s linear 0s;
    transition: visibility 0s linear 0s; }
    .ba-sidenav.ba-sidenav-open .ba-sidenav-content {
      margin-left: 0px; }
  .ba-sidenav .ba-sidenav-content {
    width: 245px;
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    margin-left: -245px;
    -webkit-box-shadow: 3px 0px 24px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 0px 24px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 0px 24px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: margin-left 0.3s linear 0.2s;
    -moz-transition: margin-left 0.3s linear 0.2s;
    -ms-transition: margin-left 0.3s linear 0.2s;
    -o-transition: margin-left 0.3s linear 0.2s;
    transition: margin-left 0.3s linear 0.2s; }
  .ba-sidenav .ba-sidenav-header {
    height: 84px;
    padding: 24px 48px;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .ba-sidenav .ba-sidenav-body {
    padding: 0px 48px; }
    .ba-sidenav .ba-sidenav-body .ba-links {
      padding: 0;
      margin: 0; }
      .ba-sidenav .ba-sidenav-body .ba-links li {
        min-height: 35px;
        line-height: 40px; }
      .ba-sidenav .ba-sidenav-body .ba-links .ba-sublinks {
        list-style: none;
        padding-left: 25px; }
        .ba-sidenav .ba-sidenav-body .ba-links .ba-sublinks li a {
          font-size: 14px; }

.ba-header {
  width: auto;
  min-height: 72px;
  position: fixed;
  z-index: 998;
  color: #FFFFFF;
  background-color: #208AEC;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0; }
  .ba-header.ba-header-scrolled {
    min-height: 72px;
    -webkit-transition: min-height 0.3s linear 0.1s;
    -moz-transition: min-height 0.3s linear 0.1s;
    -ms-transition: min-height 0.3s linear 0.1s;
    -o-transition: min-height 0.3s linear 0.1s;
    transition: min-height 0.3s linear 0.1s; }
    .ba-header.ba-header-scrolled .ba-header-title {
      height: 0px; }
      .ba-header.ba-header-scrolled .ba-header-title h1 {
        font-size: 0px;
        -webkit-transition: font-size 0s linear 0s;
        -moz-transition: font-size 0s linear 0s;
        -ms-transition: font-size 0s linear 0s;
        -o-transition: font-size 0s linear 0s;
        transition: font-size 0s linear 0s; }
    .ba-header.ba-header-scrolled .ba-navbar-title {
      font-size: 16px !important; }
  .ba-header .ba-header-navbar {
    height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 997; }
    .ba-header .ba-header-navbar .ba-navbar-item {
      margin-right: 10px; }
      .ba-header .ba-header-navbar .ba-navbar-item.last-item {
        margin-left: auto; }
    .ba-header .ba-header-navbar .ba-navbar-title {
      font-size: 0px;
      -webkit-transition: font-size 0.2s linear 0.4s;
      -moz-transition: font-size 0.2s linear 0.4s;
      -ms-transition: font-size 0.2s linear 0.4s;
      -o-transition: font-size 0.2s linear 0.4s;
      transition: font-size 0.2s linear 0.4s; }
    .ba-header .ba-header-navbar .ba-navbar-search {
      display: inline-flex; }
      .ba-header .ba-header-navbar .ba-navbar-search.ba-navbar-search-open .ba-search {
        width: 218px;
        opacity: 1;
        -webkit-transition: opacity 0.2s ease-in-out 0.2s, width 0.2s linear;
        -moz-transition: opacity 0.2s ease-in-out 0.2s, width 0.2s linear;
        -ms-transition: opacity 0.2s ease-in-out 0.2s, width 0.2s linear;
        -o-transition: opacity 0.2s ease-in-out 0.2s, width 0.2s linear;
        transition: opacity 0.2s ease-in-out 0.2s, width 0.2s linear; }
        .ba-header .ba-header-navbar .ba-navbar-search.ba-navbar-search-open .ba-search input, .ba-header .ba-header-navbar .ba-navbar-search.ba-navbar-search-open .ba-search .close {
          display: block; }
      .ba-header .ba-header-navbar .ba-navbar-search .search {
        width: 20px;
        height: 20px; }
      .ba-header .ba-header-navbar .ba-navbar-search .ba-search {
        margin-left: 5px;
        width: 0px;
        opacity: 0;
        display: inline-flex;
        -webkit-transition: opacity 0s ease-in-out 0s, width 0.2s linear;
        -moz-transition: opacity 0s ease-in-out 0s, width 0.2s linear;
        -ms-transition: opacity 0s ease-in-out 0s, width 0.2s linear;
        -o-transition: opacity 0s ease-in-out 0s, width 0.2s linear;
        transition: opacity 0s ease-in-out 0s, width 0.2s linear; }
        .ba-header .ba-header-navbar .ba-navbar-search .ba-search input {
          width: 200px;
          outline: none;
          background: transparent;
          border: none;
          border-bottom: 1px solid #FFFFFF;
          color: #f1f1f1;
          font-size: 14px;
          padding: 2px 5px 3px 0px;
          display: none; }
          .ba-header .ba-header-navbar .ba-navbar-search .ba-search input::-webkit-input-placeholder {
            color: #f1f1f1;
            font-size: 12px; }
          .ba-header .ba-header-navbar .ba-navbar-search .ba-search input:-moz-placeholder {
            color: #f1f1f1;
            font-size: 12px;
            opacity: 1; }
          .ba-header .ba-header-navbar .ba-navbar-search .ba-search input::-moz-placeholder {
            color: #f1f1f1;
            font-size: 12px;
            opacity: 1; }
          .ba-header .ba-header-navbar .ba-navbar-search .ba-search input:-ms-input-placeholder {
            color: #f1f1f1;
            font-size: 12px; }
          .ba-header .ba-header-navbar .ba-navbar-search .ba-search input::-ms-input-placeholder {
            color: #f1f1f1;
            font-size: 12px; }
        .ba-header .ba-header-navbar .ba-navbar-search .ba-search .close {
          display: none;
          border-bottom: 1px solid #FFFFFF;
          padding-bottom: 6px;
          margin-left: -5px;
          width: 15px;
          height: 15px; }
  .ba-header .ba-header-title {
    display: flex;
    align-items: flex-end;
    height: calc(207px - 72px);
    -webkit-transition: height 0.3s linear 0.1s;
    -moz-transition: height 0.3s linear 0.1s;
    -ms-transition: height 0.3s linear 0.1s;
    -o-transition: height 0.3s linear 0.1s;
    transition: height 0.3s linear 0.1s; }
    .ba-header .ba-header-title h1 {
      margin-top: 0;
      margin-bottom: 50px;
      -webkit-transition: font-size 0s linear 0.7s;
      -moz-transition: font-size 0s linear 0.7s;
      -ms-transition: font-size 0s linear 0.7s;
      -o-transition: font-size 0s linear 0.7s;
      transition: font-size 0s linear 0.7s; }

body {
  font-family: 'Raleway', sans-serif !important; }

.ba-body {
  margin-top: 207px;
  margin-bottom: 100px;
  padding-top: 50px;
  min-height: 100px; }

.ba-footer {
  background-color: #616161;
  padding: 60px 0px;
  color: #FFFFFF; }
  .ba-footer .ba-links {
    padding: 10px 0px; }
    .ba-footer .ba-links li {
      margin-bottom: 15px;
      font-size: 14px; }
      .ba-footer .ba-links li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF; }
        .ba-footer .ba-links li a:hover {
          color: #208AEC;
          font-weight: 700; }
  .ba-footer .ba-title {
    margin-top: 10px; }
  .ba-footer .ba-footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .ba-footer .ba-footer-columns .ba-footer-column {
      padding: 0px 15px; }
      .ba-footer .ba-footer-columns .ba-footer-column .ba-social-icons {
        display: flex;
        justify-content: space-around; }
        .ba-footer .ba-footer-columns .ba-footer-column .ba-social-icons img {
          margin-right: 10px; }

.ba-subfooter {
  height: 200px;
  padding-top: 100px;
  background-color: #424242; }
  .ba-subfooter .ba-logo-usa-subfooter {
    width: 20px; }
    .ba-subfooter .ba-logo-usa-subfooter img {
      width: 100%; }
  .ba-subfooter .ba-text-desc {
    color: #FFFFFF;
    width: 200px;
    text-align: center; }

.ba-troubleshooting .ba-search-results,
.ba-troubleshooting .ba-common-mistakes {
  margin-top: 70px; }

.ba-troubleshooting .ba-related-searchs ul li {
  margin-bottom: 15px; }
