<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Back4App | Documentation</title>

		<link rel="stylesheet" type="text/css" href="css/back4app.css">
	</head>
	<body ng-app="Back4App">
		
		<div class="ba-sidenav" ba-toggle-class-on-click target=".ba-sidenav" only=".ba-sidenav" toggle-class="ba-sidenav-open">
			<div class="ba-sidenav-content">
				<div class="ba-sidenav-header">
					<img src="img/logo-back4app-primary.png" alt="Logo Back4App Primary">
				</div>
				<div class="ba-sidenav-body">
					<ul class="ba-links ba-a-primary">
					  	<li><a href="#">Type something</a></li>
					  	<li><a href="#">Type something</a></li>
					  	<li>
					  		<a class="active" href="#">Type something</a>
				  			<ul class="ba-sublinks">
							  	<li><a href="#">Type something</a></li>
							  	<li><a href="#">Type something</a></li>
							</ul>
					  	</li>
					  	<li><a href="#">Type something</a></li>
					  	<li><a href="#">Type something</a></li>
					</ul>
				</div>
			</div>
		</div>

		<header class="ba-header" ba-change-class-on-scroll offset="70" scroll-class="ba-header-scrolled">
			<div class="ba-container-fluid">
				<nav class="ba-header-navbar">
					<div class="ba-navbar-item" ba-toggle-class-on-click target=".ba-sidenav" toggle-class="ba-sidenav-open">
						<img src="img/shape-menu.png" alt="Menu icon">
					</div>
					<div class="ba-navbar-item">
						<div class="ba-navbar-title">
							Documentation
						</div>
					</div>
					<div class="ba-navbar-item last-item">
						<div class="ba-navbar-search">
							<img src="img/search.png" class="search" alt="Search icon" class="fa fa-search" ba-toggle-class-on-click target=".ba-navbar-search" toggle-class="ba-navbar-search-open">
							<div class="ba-search">
								<input type="text" placeholder="placeholder...">
								<img src="img/close.png" class="close" alt="Search icon"  ba-toggle-class-on-click target=".ba-navbar-search" toggle-class="ba-navbar-search-open">
							</div>
						</div>
					</div>
				</nav>
				<div class="ba-header-title">
					<h1>Documentation</h1>
				</div>
			</div>
		</header>

		<section class="ba-body" ng-controller="Troubleshooting as vm">
			<div class="ba-container">
				<div class="ba-troubleshooting">

					<h2>What error are you looking to solve?</h2>
					<div class="ba-body-search">
						<input ng-model="vm.thermSearch" type="text" placeholder="Paste your error here..">
						<button ng-click="vm.search(vm.thermSearch)">
							<ba-text-status text="Search" sending="vm.sending"></ba-text-status>
						</button>
					</div>

					<div class="ba-common-mistakes ba-a-secondary" ng-hide="vm.searchResult.length > 0">
						<h2>Some commom mistakes:</h2>

						<div ng-show="vm.loading">Loading...</div>

						<div ng-show="vm.activate" ng-repeat="commonMistake in vm.commonMistakes">
							<h5>{{ commonMistake.title }}</h5>
							<p>{{ commonMistake.description }}</p>
							<a href="#">Type something</a>
						</div>
						
					</div>

					<div class="ba-search-results ba-a-secondary" ng-show="vm.searchResult.length > 0" id="results">
						<h2>See what we found:</h2>

						<div ng-show="vm.activate" ng-repeat="result in vm.searchResult">
							<h5>{{ result.title }}</h5>
							<p>{{ result.description }}</p>
							<a href="#">Type something</a>
						</div>
						
						<div class="ba-related-searchs ba-a-secondary" ng-show="vm.relatedSearchs.length > 0">
							<h5>Related searchs with {<span> {{ vm.thermSearch }} </span>}</h5>
							<ul ng-repeat="related in vm.relatedSearchs">
								<li><a href="#">{{ related.title }}</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</section> 

		<footer class="ba-footer">
			<div class="ba-container-fluid">
				<div class="ba-footer-columns">
					<div class="ba-footer-column">
						<img src="img/logo-back4app-secundary.png" alt="Logo Back4App Secundary">
					</div>
					<div class="ba-footer-column">
						<h4 class="ba-title">Type somenthing</h4>
						<ul class="ba-links">
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
						</ul>	
					</div>
					<div class="ba-footer-column">
						<h4 class="ba-title">Type somenthing</h4>
						<ul class="ba-links">
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
						</ul>	
					</div>
					<div class="ba-footer-column">
						<h4 class="ba-title">Type somenthing</h4>
						<ul class="ba-links">
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
							<li><a href="#">Type something</a></li>
						</ul>		
					</div>
					<div class="ba-footer-column">
						<h4 class="ba-title">Type somenthing</h4>
						<div class="ba-social-icons">
							<a href="#"><img src="img/shape-facebook.png" alt="Facebook icon"></a>
							<a href="#"><img src="img/shape-linkedin.png" alt="Linkedin icon"></a>
							<a href="#"><img src="img/shape-twitter.png" alt="Twitter icon"></a>
							<a href="#"><img src="img/shape-github.png" alt="Github icon"></a>
						</div>
					</div>
				</div> 
			</div>
		</footer>

		<footer class="ba-subfooter">
			<div class="ba-container-fluid">
				<div class="ba-logo-usa-subfooter centered">
					<img src="img/fill-usa.png" alt="Logo USA" />
				</div>
				<div class="centered ba-text-desc">
					<h5>Type something</h5>
				</div>
			</div>
		</footer>

		<!-- Dependencies -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<!-- App -->
		<script src="app/feature/troubleshooting.js"></script>
		<script src="app/feature/dataservice.js"></script>
		<!-- App directives -->
		<script src="app/directives/change-class-on-scroll-directive.js"></script>
		<script src="app/directives/toggle-class-on-click-directive.js"></script>
		<script src="app/directives/text-status-directive.js"></script>
	</body>
</html>
