//
// Anchors
// --------------------------------------------------

// Primary anchors with parent class
.ba-a-primary {
	@include anchor($ba-a-primary-color, $ba-a-primary-hover-color);
	a {
		&.active {
            color: $ba-a-primary-able-color;
            font-weight: 700;
        }
	}
}

// secundary anchors with parent class
.ba-a-secondary {
	@include anchor($ba-a-secondary-color, $ba-a-secondary-hover-color);
	a {
		&:visited {
            color: $ba-a-secondary-visited-color;
            &:hover {
            	color: $ba-a-secondary-visited-hover-color;
            	font-weight: 700;
            }
        }
	}
}


