//
// Boby nav
// --------------------------------------------------

.ba-body-nav {
	list-style: none;
	border-left: 7px solid $ba-primary-color;
	padding: 0px 24px;
	li {
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
}