//
// Boby nav
// --------------------------------------------------

.ba-body-search {
	display: table-caption;

	input {
		width: 300px;
		padding: 7px 0px;
		border: none;
		border-bottom: 2px solid $ba-primary-color;
		outline: none;
	}

	button {
		background-color: $ba-primary-color;
		padding: 5px 15px;
		border-radius: 2px;
		border: none;
		color: $ba-secondary-color;
		cursor: pointer;
		margin-top: 20px;
	}
}