//
// Sidenav
// --------------------------------------------------

.ba-container-fluid,
.ba-container {
	margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.ba-container {
    @include breakpoint(1200px) {
     	width: 1170px;
    }
    @include breakpoint(992px) {
     	width: 970px;
    }
    @include breakpoint(768px) {
     	width: 750px;
    }
}