//
// Body
// --------------------------------------------------

body {
	font-family: 'Raleway', sans-serif !important;
}

.ba-body { 
	margin-top: 207px;
	margin-bottom: 100px;
	padding-top: 50px;
	min-height: 100px;
}  
