//
// Footer
// --------------------------------------------------

.ba-footer { 
	background-color: $ba-footer-background-color;
	padding: 60px 0px;
	color: $ba-footer-text-color;

	.ba-links {
		padding: 10px 0px;
		li {
			margin-bottom: 15px;
			font-size: 14px;
			@include anchor($ba-footer-a-primary-color, $ba-footer-a-primary-hover-color);
		}
	}

	.ba-title {
		margin-top: 10px;
	}
	
	.ba-footer-columns {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.ba-footer-column {
			padding: 0px 15px;
			.ba-social-icons {
				display: flex;
				justify-content: space-around;
				img {
					margin-right: 10px;
				}
			}
		}
	}
}

.ba-subfooter {
	height: 200px;
	padding-top: 100px;
	background-color: $ba-subfooter-background-color;
	.ba-logo-usa-subfooter {
		width: 20px;
		img {
			width: 100%;
		}
	}
	.ba-text-desc {
		color: $ba-secondary-color;
		width: 200px;
		text-align: center;
	}
}

