//
// General
// --------------------------------------------------

// Headings
h1,
h2 {
	font-weight: 400;
}

h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 14px;
}

// Text
p {
	font-size: 20px;
}

// List
ul {
	list-style: none;
	padding: 0px;
}
