//
// Header
// --------------------------------------------------

.ba-header {
	width: auto;
	min-height: 72px;
	position: fixed;
	z-index: 998;
	color: $ba-header-text-color;
	background-color: $ba-header-background-color;
	@include space-around-content(0, 0, auto, 0);

	&.ba-header-scrolled {
		min-height: 72px;
		@include transition(min-height 0.3s linear 0.1s);
		.ba-header-title {
			height: 0px;
			h1 {
				font-size: 0px;
				@include transition(font-size 0s linear 0s);
			}
		}
		.ba-navbar-title {
			font-size: 16px !important;
		}
	}

	.ba-header-navbar {
		height: 72px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		z-index: 997;
		.ba-navbar-item {
			margin-right: 10px;
			&.last-item {
				margin-left: auto;
			}
		}
		.ba-navbar-title {
			font-size: 0px;
			@include transition(font-size 0.2s linear 0.4s);
		}
		.ba-navbar-search {
			display: inline-flex;
			&.ba-navbar-search-open {
				.ba-search {
					width: 218px;
					opacity: 1;
					@include transition((opacity 0.2s ease-in-out 0.2s, width 0.2s linear));
					input, .close {
						display: block;
					}
				}
			}
			.search {
				width: 20px;
				height: 20px;
			}
			.ba-search {
				margin-left: 5px;
				width: 0px;
				opacity: 0;
				display: inline-flex;
				@include transition((opacity 0s ease-in-out 0s, width 0.2s linear));

				input {
					width: 200px;
					outline: none;
					background: transparent;
					border: none;
					border-bottom: 1px solid $ba-header-text-color; 
					color: #f1f1f1;
					font-size: 14px;
					padding: 2px 5px 3px 0px;
					display: none;
					@include placeholder-color(#f1f1f1, 12px);
				}
				.close {
					display: none;
					border-bottom: 1px solid $ba-header-text-color; 
					padding-bottom: 6px;
	    			margin-left: -5px;
	    			width: 15px;
    				height: 15px;
				}
			}
		}
	}

	.ba-header-title {
		display: flex;
		align-items: flex-end;
		height:  calc(207px - 72px);
		@include transition(height 0.3s linear 0.1s);
		h1 {
			margin-top: 0;
			margin-bottom: 50px;
			@include transition(font-size 0s linear 0.7s);
		}
	}
}