//
// Sidenav
// --------------------------------------------------

.ba-sidenav {
	background-color:  rgba(0,0,0,0.3);
	overflow: hidden;
	position: fixed;
	z-index: 999;
	visibility: hidden;
	@include space-around-content(0, 0, 0, 0);
	@include transition(visibility 0.1s linear 0.5s);

	&.ba-sidenav-open {
		visibility: visible;
		@include transition(visibility 0s linear 0s);
		.ba-sidenav-content {
			margin-left: 0px;
		}
	}

	.ba-sidenav-content {
		width: 245px;
		height: 100%;
		position: absolute;
		background-color: $ba-sidenav-background-color;
		margin-left: -245px;
		@include box-shadow(3px 0px 24px 1px, rgba(0,0,0,0.4));
		@include transition(margin-left 0.3s linear 0.2s);
	}

	.ba-sidenav-header {
		height: 84px;
		padding: 24px 48px;
		border-bottom: 1px solid #ddd;
		@include border-box();
	}
	
	.ba-sidenav-body {
		padding: 0px 48px;
		.ba-links {
			padding: 0;
    		margin: 0;
			li {
				min-height: 35px;
				line-height: 40px;
			}
			.ba-sublinks {
				list-style: none;
				padding-left: 25px;
				li a {
					font-size: 14px;
				}
			}
		}
	}
}