//
// Border box
// --------------------------------------------------

@mixin border-box() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//
// Box sizing
// --------------------------------------------------

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

//
// Border radius
// --------------------------------------------------

@mixin border-radius($top, $bottom) {
  	border-top-right-radius: $top;
   	border-top-left-radius: $top;
   	border-bottom-right-radius: $bottom;
   	border-bottom-left-radius: $bottom;
}

//
// Box shadow
// --------------------------------------------------

@mixin box-shadow($size, $color) {
  	-webkit-box-shadow: $size $color;
  	-moz-box-shadow: $size $color;
  	box-shadow: $size $color;
}

//
// Space around
// --------------------------------------------------

@mixin space-around-content($top, $right, $bottom, $left) {
  	top: $top;
  	right: $right;
  	bottom: $bottom;
  	left: $left;
}

//
// Transition
// --------------------------------------------------

@mixin transition($property) {
  	-webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

//
// Placeholder color
// --------------------------------------------------

@mixin placeholder-color($color, $font-size) {
    &::-webkit-input-placeholder { 
        color: $color;
        font-size: $font-size;
    }
    &:-moz-placeholder { 
       color: $color;
       font-size: $font-size;
       opacity: 1;
    }
    &::-moz-placeholder {
       color: $color;
       font-size: $font-size;
       opacity: 1;
    }
    &:-ms-input-placeholder { 
       color: $color;
       font-size: $font-size;
    }
    &::-ms-input-placeholder {
       color: $color;
       font-size: $font-size;
    }
}

//
// Anchors
// --------------------------------------------------

@mixin anchor($color, $hover-color) {
    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: $color;
        &:hover {
            color: $hover-color;
            font-weight: 700;
        }
    }
}
