//
// Pallet Colors 
// --------------------------------------------------
$ba-primary-color: #208AEC;
$ba-secondary-color: #FFFFFF;
$ba-tertiary-color: #155690;
$ba-quaternary-color: #5C6BC0;
$ba-quinary-color: #E0E0E0;
$ba-senary-color: #616161;
$ba-septenary-color: #424242;

//
// Anchors
// --------------------------------------------------
$ba-a-primary-color: $ba-septenary-color;
$ba-a-primary-hover-color: $ba-primary-color;
$ba-a-primary-able-color: $ba-septenary-color;

$ba-a-secondary-color: $ba-primary-color;
$ba-a-secondary-hover-color: $ba-primary-color;
$ba-a-secondary-visited-color: $ba-quaternary-color;
$ba-a-secondary-visited-hover-color: $ba-quaternary-color;

//
// Header 
// --------------------------------------------------
$ba-header-text-color: $ba-secondary-color;
$ba-header-background-color: $ba-primary-color;

//
// Sidenav 
// --------------------------------------------------
$ba-sidenav-background-color: $ba-secondary-color;

//
// Footer
// --------------------------------------------------
$ba-footer-a-primary-color: $ba-secondary-color;
$ba-footer-a-primary-hover-color: $ba-primary-color;
$ba-footer-text-color: $ba-secondary-color;
$ba-footer-background-color: $ba-senary-color;
$ba-subfooter-background-color: $ba-septenary-color;


