//
// Troubleshooting
// --------------------------------------------------

.ba-troubleshooting {

	.ba-search-results,
	.ba-common-mistakes {
		margin-top: 70px;
	}

	.ba-related-searchs {
		ul li {
			margin-bottom: 15px;
		}
	}
}